<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
	<%= form_for :session, :html => {:class => 'login100-form validate-form'}, url: sign_in_path do |f| %>
    <div class="login">
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>GTM</h1>
              <div class="form-group" data-validate = "Valid email is required: ex@abc.xyz">
					      <%= f.email_field :email, autofocus: true, :placeholder => "E-mail", :class => "form-control" %>
              </div>
              <div>
              <div class="form-group" data-validate="Password is required">
					      <%= f.password_field :password, autocomplete: "off", :placeholder => "Senha", :class => "form-control" %>
              </div>
              <div>
                <%= f.submit "Login", :class => "form-control btn btn-dark" %>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                

                <div class="clearfix"></div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
 <% end %>

			
			</div>
		</div>
	</div>
