<h1>Editando Plano de Cuidados</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @care_plan, :class => 'btn btn-primary' %> | <%= link_to 'Voltar', care_plans_path, :class => 'btn btn-primary' %>
