<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @prm_cause.description %>
</p>

<%= link_to 'Edit', edit_prm_cause_path(@prm_cause) %> |
<%= link_to 'Back', prm_causes_path %>
