<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @prm_cause.description %>
</p>

<%= link_to 'Editar', edit_prm_cause_path(@prm_cause), :class => 'btn btn-primary' %> | <%= link_to 'Voltar', prm_causes_path, :class => 'btn btn-primary' %>
