<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @disease.name %>
</p>

<%= link_to 'Editar', edit_disease_path(@disease), :class => 'btn btn-primary' %> | <%= link_to 'Voltar', diseases_path, :class => 'btn btn-primary' %>
