<nav id="menu">
    <button id="atualiza-prof">ProfissãoHome</button>
</nav>

<div id="all">
    <div class="f" id="atualiza=prof">ProfissãoConteudo</div>
</div>


<nav id="menuServiceAccess">
    <button id="atualiza-service">ServiceAccessHome</button>
</nav>

<div id="allServiceAccess">
    <div class="f" id="atualiza=service">ServiceAccessConteudo</div>
</div>


<nav id="menuUb">
    <button id="atualiza-ub">UbHome</button>
</nav>

<div id="allUb">
    <div class="f" id="atualiza=ub">UbConteudo</div>
</div>