<h1>Novo paciente</h1>

<!--div-->
  <!--%= link_to 'Nova Profissão', new_profession_path, :remote => true, :class => 'btn btn-primary' %-->
<!--/div-->

<%= render 'form' %>

<div id="new-profession" style="display:none;">
    <%= render 'professions/new'%>    
</div>

<div id="new-ub" style="display:none;">
    <%= render 'ubs/new'%>    
</div>

<div id="new-service_access" style="display:none;">
    <%= render 'service_accesses/new'%>    
</div>
