<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @service_access.description %>
</p>

<%= link_to 'Edit', edit_service_access_path(@service_access) %> |
<%= link_to 'Back', service_accesses_path %>
