<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @service_access.description %>
</p>

<%= link_to 'Editar', edit_service_access_path(@service_access), :class => 'btn btn-primary' %> | <%= link_to 'Voltar', service_accesses_path, :class => 'btn btn-primary' %>
