<div class='container-fluid'>
<h1>Editando - Tipo sexo</h1>

<%= render 'form' %>
<br>
<%= link_to 'Visualizar', @type_sex, :class => 'btn btn-primary' %> | <%= link_to 'Voltar', type_sexes_path, :class => 'btn btn-primary' %>
</div>