<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @type_sex.description %>
</p>

<%= link_to 'Edit', edit_type_sex_path(@type_sex) %> |
<%= link_to 'Back', type_sexes_path %>
