<div class='container-fluid'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @type_sex.description %>
</p>
<br>
<%= link_to 'Editar', edit_type_sex_path(@type_sex), :class => 'btn btn-primary' %> |
<%= link_to 'Voltar', type_sexes_path, :class => 'btn btn-primary' %>
</div>
