<<<<<<< HEAD
<h1>Novo Atendimento</h1>

<%= render 'form' %>

<%= link_to 'Voltar',  attendances_path, :class => 'btn btn-primary' %>
=======
<%= link_to 'Voltar', attendances_path, :class => 'btn btn-primary' %>

<h1>Novo Atendimento</h1>

<%= render 'form' %>


>>>>>>> dd03b5d75f47b57703ed5ad0f2f46996f9277546
