<h1>Editando Farmacoterapia</h1>

<%= render 'form' %>

<%= link_to 'Visualizar', @pharmacotherapy, :class => 'btn btn-primary' %> | <%= link_to 'Voltar', pharmacotherapies_path, :class => 'btn btn-primary' %>
