<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @ub.description %>
</p>

<%= link_to 'Editar', edit_ub_path(@ub), :class => 'btn btn-primary' %> | <%= link_to 'Voltar', ubs_path, :class => 'btn btn-primary' %>
